:root {
  --color-dark: #000;
  --color-white: #fff;
  --color-gray: #e5e5e5;
  --color-primary: #0052cc;
  --color-gray-light: #f8f9fa;
  --color-error: #cc0000;
  --border-radius-base: 4px;
  --font-family: Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--color-dark);
}

.header a {
  color: var(--color-white);
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.margin-top-2 {
  margin-top: 2.5rem;
}

.list li {
  margin-bottom: 1rem;
}

.list li a {
  color: var(--color-primary);
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray);
  border-radius: var(--border-radius-base);
  font-size: inherit;
}

.btn {
  padding: 1rem;
  font-size: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary);
  border-radius: var(--border-radius-base);
  background-color: var(--color-primary);
  color: var(--color-white);
  min-width: 125px;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.login-form {
  min-height: 408px;
  padding: 2rem;
  max-width: 420px;
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-base);
  margin-bottom: 2.5rem;
}

.login-form h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.error {
  font-size: 0.875rem;
  color: var(--color-error);
}

.highlight {
  margin: 0;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--color-gray-light);
}

.highlight pre {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

pre code {
  font-family: var(--font-family);
}

@media (min-width: 1400px) {
  .container {
    padding: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
